<div align="center">
  <h3 class="p-4"> Image Sharer </h3>

  <%= link_to 'Save Image', new_image_path, class: 'button' %>

  <table>
    <% @images.each do |image| %>
      <tr>
        <td>
          <img class="p-4" src="<%= image.link %>"/>
          <div>
            <% image.tag_list.each do |tag| %>
              <span> <%= tag %> </span>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>
